@use 'variable' as v;
#articlesblog{
  background:url("../img/back_cube.png");
}

.titresection{
  color: v.$Rouge-Orange;
  padding:2rem 0;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.boxArticle{
  background-color: v.$Blanc-pure;
  border-radius:10px ;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  margin: 1rem auto;
  cursor: pointer;
  img{
    width:40%;
    border-radius: 10px 0 0 10px;
  }
}
.boxExtraitArticle{
  position: relative;
  padding:1rem;
  color: v.$Orange;
  h4{
    padding:3rem 0;
  }
  .auteur{
    position:absolute;
    bottom: 0;
    right:0;
    padding:1rem;
    font-style: italic;
  }
}
.boxTexteArticle{
  background-color: v.$Blanc-pure;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius:5px ;
}
.btnretour{
  color: v.$Rouge-Orange;
  cursor:pointer;
  text-align: center;
  padding-top:2rem;
}

.content{
  padding:1rem;
  color: v.$Gris;
}
#avisblog{
  width: 100%;
  padding:2rem;
  background: url("../img/back_cube.png");
  h2{
    color: v.$Rouge-Orange;
    text-align: center;
    padding: 1rem 0;
  }

}
#diapoavis {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: rgba(0, 0, 0, 0) linear-gradient(to right, v.$Rouge-Orange 0%, v.$Jaune 100%) repeat scroll 0 0;
  border-radius: 10px;
  border: 2px v.$Jaune50 solid;
  p{
    padding:0.5rem 0;
    color: v.$Blanc-pure;
  }
}
.titreavis{
  font-size: 2rem;
}
.avis{
  font-size: 1.5rem;
}
.auteuravis{
  font-size: 0.8rem;
}
.flex-control-paging li a{
  background-color:#ff5f6d;
  &:hover{
    background-color: v.$Jaune;
  }
  &:focus{
    background-color:#FFBA71;
  }
}
.flex-control-paging li a.flex-active{
  background-color:#FFBA71;
}
@media screen and (max-width: 950px) {
  .boxArticle {
    flex-direction: column;

    img {
      width: 100%;
      border-radius: 10px 10px 0 0;
    }
  }
}





