@use 'variable' as v;

a {
  color: #ff5f6d;
}

.bg-gradient-primary {
  background: rgba(0, 0, 0, 0) linear-gradient(to right, #ff5f6d 0%, #ffb270 100%) repeat scroll 0 0;
}

.hippo-logo {
  width: 65px;
  filter: invert(100%);
  padding-top: .5rem;
  padding-bottom: .5rem
}

.container-fluid {
  background-image: url("../../../src/asset/img/back_cube.png");
  //position: fixed;
  object-fit: cover;
}

.hippo-pro {
  width: 90px;
  padding-bottom: 10px;
}

.btn-premium {
  background: linear-gradient(90deg, rgba(255,158,0,1) 0%, rgba(255,222,0,1) 85%, rgba(255,179,0,1) 100%);
  border: none;
  font-weight: bold;
  transition: 0.5s;
}

.btn-premium:hover {
  transform: scale(1.05);
  transition: 0.1s;
}

.btn-premium:active {
  box-shadow: none !important;
  transform: scale(1.1);
}

.btn-premium:focus {
  box-shadow: none !important;
}

.hippo-text {
  color: v.$Gris-fonce !important;
}

.color-succes {
  color: #1cc88a !important;
}

.color-failed {
  color: #e74a3b !important;
}

.color-unknow {
  color: #f6c23e !important;
}

.color-wait {
  color: #36b9cc !important;
}

.ttl-border {
  border-left: 0.25rem solid #e74a3b !important;
}

.ttl-title {
  color: #e74a3b !important;
}

.ttl-icone {
  font-size: 30px;
}

.premium-background {
  background-color: #424549;
}

.premium-border {
  border-left: 0.25rem solid;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-image-slice: 1;
  border-width: 5px;
  border-radius: 0;
  border-image-source: linear-gradient(180deg, rgba(255,158,0,1) 0%, rgba(255,222,0,1) 85%, rgba(255,179,0,1) 100%);
}

.premium-title {
  color: #DDDFEB !important;
}

.premium-text {
  display: inline-block;
  background: linear-gradient(180deg, rgba(255,158,0,1) 0%, rgba(255,222,0,1) 85%, rgba(255,179,0,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hippo-icone {
  font-size: 30px;
  transition: transform 0.5s ease;
}

.litzer-header {
  background-color: #282b30 ;
  border: none;
}

.litzer-box {
  background-color: #424549 !important;
  color: #DDDFEB !important;
  border: none;
}

.litzer-img {
  display: flex;
  justify-content: flex-end;
}

.litzer-text {
  color: #DDDFEB !important;
}

.litzer-color {
  color: #79C1C8;
}

.premium-activation {
  display: block;
  transition: transform 0.5s ease;
}

.premium-activation:hover {
  transform: scale(1.05);
}

.premium-activation:hover .hippo-icone {
  background: linear-gradient(180deg, rgba(255,158,0,1) 0%, rgba(255,222,0,1) 85%, rgba(255,179,0,1) 100%);
  -webkit-background-clip: text;
  color: transparent !important;
}

.premium-box {
  display: block;
}

.premium-none {
  display: none;
}
