@use 'variable' as v;

#gestionBlog{
  color: v.$Gris;
  h1{
    text-align: center;
  }
  form{
    margin:0 auto;
      width:90%;
  label{
        color: v.$Gris;
        font-weight: bold;
  }
  input{
    color: v.$Gris;
        padding:1rem;
  }
  textarea{
    padding:1rem;
  }
  .error{
        font-size: 1rem;
        color: v.$Rouge;
        width:100%;
  }
  select{
        padding:1rem;
  }
  }
}
.changeimg{
  width:50%;
  margin: 0 auto;
}
.cache{
  display: none;
}
#boxDrop{
  margin:0 auto;
  width:90%;
  text-align: center;
  border-radius:10px ;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
  ul{
    position: absolute;
    width:100%;
    transform: translateX(-50%);
    left:50%;
    z-index: 2;
  }
  a{
    width: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #ff5f6d 0%, #ffb270 100%) repeat scroll 0 0;
    display: inline-block;
    padding:1rem;
    color: v.$Gris;
    font-weight: bold;
    transition: all 0.5s;
    text-decoration: none;
    &:hover{
       color: v.$Blanc-pure;
    }
  }
}
.btn{
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
.btndropdown{
  width:80%;
  text-align: center;
  padding:1rem;
  border-radius:10px ;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.boxExtraitArticle{
  width:100%;
}
.boximage{
  background-color: v.$Blanc-pure;
  border-radius:10px ;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  margin: 1rem auto;
  img{
    width:40%;
    border-radius: 10px 0 0 10px;
  }
}
.changeimg{
  padding:2rem;
  border-radius:10px ;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgactuel{
  padding-bottom: 1rem;
  font-size: 1.5rem;
}
@media screen and (max-width: 950px){
  .boximage{
    width: 100%;
    flex-direction: column;
    text-align: center;
    img{
      width: 100%;
      border-radius: 10px 10px 0 0;
    }
  }
}