@use 'variable' as v;

#gestionUsers{
  color: v.$Gris;
  h1{
    color: v.$Gris;
    text-align: center;
  }
  form{
    margin: 0 auto;
    width:90%;
    label{
      color: v.$Gris;
      font-weight: bold;
    }
    input{
      color: v.$Gris;
      padding:1rem;
    }
    textarea{
      padding: 1rem;
    }
    .error{
      font-size: 1rem;
      color: v.$Rouge;
      width:100%;
    }
    select{
      padding:1rem;
    }
  }
}
.boxUser{
  margin:1rem auto;
  padding: 1rem;
  border-radius:10px ;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.cache{
  display: none;
}
#boxDrop{
  margin:0 auto;
  width:90%;
  text-align: center;
  border-radius:10px ;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
  ul{
    position: absolute;
    width:100%;
    transform: translateX(-50%);
    left:50%;
    z-index: 2;
  }
  a{
    width: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #ff5f6d 0%, #ffb270 100%) repeat scroll 0 0;
    display: inline-block;
    padding:1rem;
    color: v.$Gris;
    font-weight: bold;
    transition: all 0.5s;
    text-decoration: none;
    &:hover{
      color: v.$Blanc-pure;
    }
  }
}
.btn{
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.btndropdown{
  width:80%;
  text-align: center;
  padding:1rem;
  border-radius:10px ;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}