@use 'variable' as v;

body {
    background-color: v.$Blanc-pure;
    font-family: 'Open Sans', sans-serif;
    color: v.$Blanc-pure;
}

#intro {
    background-image: url('/src/asset/img/background-front.png');
    background-size: cover;
    height: 85dvh;
    height: 85vh;

    .wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 3rem 0;

        .intro_text {
            padding-top: 2rem;

            h1 {
                font-size: 6rem;
            }

            h2 {
                font-size: 4rem;
            }

            a {
                display: block;
                margin-top: 2rem;
                width: 20rem;
                font-weight: 700;
                border-radius: 0.5rem;
                background: v.$Blanc-casse;
                padding: 2rem 0;
                color: v.$Rouge-Orange;
                font-size: 1.5rem;
                text-align: center;
                transition: all 0.3s ease;

                &:hover {
                    background-color: v.$Rouge-Orange ;
                    color: v.$Blanc-casse ;
                    border: solid v.$Blanc-casse 1px;
                }
            }


        }
    }
}

#mission {
    background: v.$back_cube;

    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem 0;
        gap: 3rem;

        .mission_title {
            h3 {
                color: v.$Jaune;
                text-align: center;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-family: Montserrat;
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        .mission_card {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;


            .card {
                display: flex;
                flex-direction: column;
                width: 30%;
                height: 22.5rem;
                flex-shrink: 0;
                background-color: v.$Blanc-casse50;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                backdrop-filter: blur(2px);
                align-items: center;
                padding: 3rem 0;
                justify-content: flex-start;
                gap: 2rem;

                img {
                    width: 6.875rem;
                }

                p {
                    color: v.$Orange;
                    text-align: center;
                    font-family: Open Sans;
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
            }
        }
    }
}

#fonctionnement {
    background: linear-gradient(90deg, v.$Rouge-Orange 0.73%, v.$Jaune 99.24%);

    .wrap {
        display: flex;
        flex-direction: row;
        padding: 2rem 0 0 0;
        gap: 5rem;
        align-items: flex-end;


        .fonctionnement_text {
            width: 100%;
            height: 100%;


            .flexslider {
                background-color: #ff5f6c00;
                border: none;
                height: 80%;
                width: 80%;

                .slide_text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                div {
                    width: 100%;
                }

                h3 {
                    color: #FFF;
                    text-align: center;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    font-family: Montserrat;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }

                p {
                    color: #FFF;
                    font-size: 2rem;
                    padding: 1rem 0;

                }

                a {
                    display: block;
                    margin-top: 2rem;
                    width: 20rem;
                    font-weight: 700;
                    border-radius: 0.5rem;
                    background: v.$Blanc-casse;
                    padding: 2rem 0;
                    color: v.$Rouge-Orange;
                    font-size: 1.5rem;
                    text-align: center;
                    border: solid v.$Rouge-Orange 1px;
                    transition: all 300ms ease-in-out;
                    border: solid 1px v.$Rouge-Orange;

                    &:hover {
                        background-color: v.$Rouge-Orange ;
                        color: v.$Blanc-casse ;
                        border: solid 1px v.$Blanc-casse;


                    }
                }
            }
        }

        .fonctionnement_logo {
            display: flex;

            .fonctionnement_logo_box {
                width: 19.5625rem;
                height: 23.125rem;
                flex-shrink: 0;
                border-radius: 3.125rem 3.125rem 0rem 0rem;
                background: v.$Gris50;
            }
        }
    }
}

#slider {
    background: v.$back_cube;

    .wrap2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 4rem 0;


        .fonctionnement_text {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h3 {
                color: v.$Orange;
                text-align: center;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-family: Montserrat;
                font-size: 2.5rem;
                text-transform: uppercase;
            }

            p {
                color: v.$Rouge-Orange;
                text-align: center;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-family: Montserrat;
                font-size: 1.75rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
            }
        }

        .fonctionnement_img {
            padding: 4rem 0;
            transition: all 150ms ease-in-out;

            &:hover {
                filter: brightness(50%);
            }
        }
    }
}

#stat {
    background: linear-gradient(90deg, v.$Rouge-Orange 0.73%, v.$Jaune 99.24%);

    .wrap {
        display: flex;
        flex-direction: column;
        text-align: center;

        .stat_number {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            div {
                width: 30%;
                flex-shrink: 0;
                border-radius: 0rem 0rem 3.125rem 3.125rem;
                background: v.$Gris50;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 1rem;
                padding: 2rem 0;

                h2 {
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    font-family: Montserrat;
                    font-size: 5rem;
                    text-transform: uppercase;
                }

                p {
                    text-align: center;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    font-family: Montserrat;
                    font-size: 1.8rem;
                    text-transform: uppercase;
                }
            }
        }

        .stat_button {
            display: flex;
            justify-content: center;

            a {
                display: block;
                margin-top: 2rem;
                width: 20rem;
                font-weight: 700;
                border-radius: 0.5rem;
                background: v.$Blanc-casse;
                padding: 2rem 0;
                color: v.$Rouge-Orange;
                font-size: 1.5rem;
                text-align: center;
                margin: 2rem 0;
                transition: all 300ms ease-in-out;
                border: solid 1px v.$Rouge-Orange;

                &:hover {
                    background-color: v.$Rouge-Orange ;
                    color: v.$Blanc-casse ;
                    border: solid 1px v.$Blanc-casse;


                }
            }
        }
    }
}

#team {
    background: v.$back_cube;

    .wrap {
        padding: 4rem 0;

        .team_title {
            h3 {
                color: v.$Orange;
                text-align: center;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-family: Montserrat;
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
            }
        }

        .team_card {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 4rem 0;

            .team_card_single {
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 30%;
                align-items: center;

                img {
                    width: 250px;
                }

                span {
                    color: v.$Orange;
                    font-family: Montserrat;
                    font-size: 2.5rem;
                    font-style: normal;
                    font-weight: 700;
                }

                p {
                    color: v.$Rouge;
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 2rem;
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    footer {
        .wrap {
            display: flex;
            flex-direction: column;

            ul {
                padding: 2rem 0;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    header {
        nav ul li {
            padding: 0.5rem;
        }
    }

    #intro {
        height: auto;


    }

    #intro .wrap .intro_text h1 {
        font-size: 4rem;
    }

    #intro .wrap .intro_text h2 {
        font-size: 2rem;
    }

    #intro .wrap .intro_text a {
        width: 15rem;
        padding: 1rem 0;
        color: #FF5F6D;
        font-size: 1.5rem;
    }

    .intro_img {
        width: 30%;
    }

    #mission .wrap .mission_card {
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 2rem;
    }


    #mission .wrap .mission_card .card {
        min-width: 30%;
        width: 15rem;
        gap: 2rem;
        height: auto;
    }

    #fonctionnement .wrap .fonctionnement_logo {
        display: none;
    }

    #fonctionnement .wrap .fonctionnement_text {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    #stat .wrap .stat_number div h2 {
        font-size: 3rem;
    }

    #stat .wrap .stat_number div p {
        font-size: 1.2rem;
    }

    #team .wrap .team_card {
        gap: 2rem;
        flex-direction: column;
        align-items: center;

    }


    #fonctionnement .wrap .fonctionnement_text .flexslider p {
        font-size: 1.4rem;
    }

    #fonctionnement .wrap .fonctionnement_text .flexslider h3 {
        font-size: 1.7rem;
    }

    #fonctionnement .wrap .fonctionnement_text .flexslider a {
        margin-top: 1.5rem;
        width: 15rem;
        padding: 1rem 0;
        font-size: 1.5rem;
    }

    #slider .wrap2 .fonctionnement_img {
        width: 70%;
        padding: 2rem 0;
    }

    #slider .wrap2 .fonctionnement_text h3 {
        font-size: 1.8rem;
    }

    #slider .wrap2 .fonctionnement_text p {
        font-size: 1.2rem;
    }

    #mission .wrap .mission_card .card p {
        font-size: 1.4rem;
    }

    #mission .wrap .mission_card .card img {
        width: 5rem;
    }
}

@media screen and (max-width: 850px) {

    nav ul {
        font-size: 80%;
    }

    .logo {
        width: 100px;
    }

    #intro .wrap .intro_text h1 {
        font-size: 3rem;
    }

    #intro .wrap .intro_text h2 {
        font-size: 1.4rem;
    }

    #intro .wrap .intro_text a {
        width: 10rem;
        padding: 1rem 0;
        color: #FF5F6D;
        font-size: 1rem;
    }

    #intro .wrap .intro_text {
        padding-top: auto;
    }
}


@media screen and (max-width: 850px) {


    nav ul {
        font-size: 70%;
    }

}