body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 30px;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

h2 {
margin-top: 1rem;
margin-bottom: 1rem;
}

#mention {
  display: flex;
  justify-content: center;

  .mentionTitle {
    text-align: center;
    p {
      font-style: italic;
      font-size: 13px;
    }
  }

  .mentionBox {
    width: 100%;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    border-radius: 10px;
    margin: 3rem;
    padding: 2rem;
  }

}