@use 'variable' as v;

#services {
    background: v.$back_cube;
    .wrap {
        padding: 3rem 0;

        .services_title {
            h3 {
                color: v.$Jaune;
                text-align: center;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-family: Montserrat;
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 700;
                text-transform: uppercase;
                padding: 0 0 3rem 0;
            }
        }

        .services_container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 2rem;


            .services_left {
                width: 120%;
            }

            .services_right {
                display: flex;
                flex-direction: column;
                gap: 2rem;


                .services_card {
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    gap: 0.5rem;

                    .card {
                        background-color: v.$Jaune;
                        padding: 1.5rem;
                        border-radius: 5px;
                        min-width: 33%;

                        h3 {
                            font-size: 1.5rem;
                            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            padding: 0 0 1rem 0;
                        }

                        p {
                            font-size: 1.2rem;
                        }
                    }
                }

                .services_info {
                    padding: 2rem 0;
                    p {
                        font-size: 1.5rem;
                        color: v.$Rouge-Orange;
                        text-align: center;
                        font-family: Montserrat;
                        font-weight: 700;
                        text-transform: uppercase;

                    }
                }
            }
        }
    }
}