@use 'variable' as v;


body {
  overflow-X: hidden;
  font-family: 'Open Sans', sans-serif;
}

.wrap {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.wrap2 {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0) linear-gradient(to right, #ff5f6d 0%, #ffb270 100%) repeat scroll 0 0;

  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
}

.logo {
  width: 150px;
}


nav {
  ul {
    display: flex;
    flex-direction: row;

    li {
      padding: 2rem;

      a {
        font-weight: bold;
        color: white;
        transition: 0.5s;

        &:hover {
          color: #ffb270;
        }
      }
    }
  }
}

.log a {
  background-color: #FB4555;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 1rem;
  transition: 0.5s;

  &:hover {
    background-color: #FFA36F;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: #ff5f6d;
  }

  &:focus {
    background-color: #FFBA71;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  }
}

footer {
  background: url("../img/footer-front.png");
  background-position: center;
  background-size: cover;
  color: white;

  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;

    a {
      color: white;
      transition: 0.5s;

      &:hover {
        color: #ffb270;
      }
    }

    ul {
      display: flex;
      justify-content: space-between;

      li {
        padding: 0 0.2rem;

        a {
          background-color: #FB4555;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          padding: 0.5rem;
          border-radius: 5px;
          transition: 0.5s;

          &:hover {
            background-color: #FFA36F;
            color: #ff5f6d;
            box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
          }

          &:focus {
            background-color: #FFBA71;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          }
        }
      }
    }
  }
}

.error {
  color: red;
  font-family: 'Open Sans', sans-serif;
  font-size: .7rem;
}

.error_off {
  display: none;
}

.wrap_modal {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

#modal_inscription {
  color: v.$Orange;
  font-family: Montserrat;
  font-weight: 700;
  background-color: #000000ba;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    background: v.$back_cube;
    border-radius: 30px;
    position: relative;
    padding: 3rem;
    width: 80%;

    .wrap_modal {
      display: flex;
      flex-direction: column;

      input {
        width: 100%;
        padding: .5rem;
        border-radius: 3px;
        border: 1px solid v.$Gris;
      }

      ::placeholder {
        color: v.$Gris;
      }

      .modal_title {
        text-align: center;
        text-align: center;
        font-size: 2.5rem;
        padding: 2rem 0;
      }

      .name_form {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 1rem;

        div {
          display: flex;
          flex-direction: column;
          width: 100%;



          input {
            width: 100%;
            padding: .5rem;
            border-radius: 3px;
          }

        }
      }

      .password_form {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 1rem;

        div {
          display: flex;
          flex-direction: column;
          width: 100%;


        }
      }

      .mail_form {
        display: flex;
        flex-direction: column;
      }

      .submit_form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 1rem;
        margin: 1.5rem 0;
        text-align: center;

        div {
          width: 50%;
          display: flex;
          align-items: center;

          input[type="submit"] {
            background-color: v.$Blanc-casse;
            color: v.$Rouge-Orange;
            border: none;
            padding: 1rem .5rem;
            font-size: 1rem;
            font-weight: 700;
            border-radius: 0.5rem;
            background: v.$Blanc-casse;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            transition: all 300ms ease-in-out;

            &:hover {
              background-color: v.$Rouge-Orange ;
              color: v.$Blanc-casse;
            }
          }
        }
      }

    }
  }
}

form {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

#closeModalConnexion,
#closeModalInscription,
#closeModalContact {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 1.2rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;

  &:hover {
    color: v.$Gris;
  }
}



.wrap_modal {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

#modal_connexion {
  color: v.$Orange;
  font-family: Montserrat;
  font-weight: 700;
  background-color: #000000ba;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    background: v.$back_cube;
    border-radius: 30px;
    position: relative;
    padding: 3rem;
    width: 80%;

    .wrap_modal {
      display: flex;
      flex-direction: column;

      input {
        width: 100%;
        padding: .5rem;
        border-radius: 3px;
        border: 1px solid v.$Gris;
      }

      ::placeholder {
        color: v.$Gris;
      }

      .modal_title {
        text-align: center;
        text-align: center;
        font-size: 2.5rem;
        padding: 2rem 0;
      }

      .name_form {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 1rem;

        div {
          display: flex;
          flex-direction: column;
          width: 100%;



          input {
            width: 100%;
            padding: .5rem;
            border-radius: 3px;
          }

        }
      }

      .password_form {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 1rem;

        div {
          display: flex;
          flex-direction: column;
          width: 100%;


        }
      }

      .mail_form {
        display: flex;
        flex-direction: column;
      }

      .submit_form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 1rem;
        margin: 1.5rem 0;
        text-align: center;

        div {
          width: 50%;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;

          input[type="submit"] {
            background-color: v.$Blanc-casse;
            color: v.$Rouge-Orange;
            border: none;
            padding: 1rem .5rem;
            font-size: 1rem;
            font-weight: 700;
            border-radius: 0.5rem;
            background: v.$Blanc-casse;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            transition: all 300ms ease-in-out;

            &:hover {
              background-color: v.$Rouge-Orange ;
              color: v.$Blanc-casse;
            }
          }
        }
      }
    }
  }
}



#modal_contact {
  color: v.$Orange;
  font-family: Montserrat;
  font-weight: 700;
  background-color: #000000ba;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    background: v.$back_cube;
    border-radius: 30px;
    position: relative;
    padding: 3rem;
    width: 80%;

    .wrap_contact {
      display: flex;
      flex-direction: column;

      input {
        width: 100%;
        padding: .5rem;
        border-radius: 3px;
        border: 1px solid v.$Gris;
        resize: none;
      }

      textarea {
        width: 100%;
        height: 6rem;
        font-family: Montserrat;
        padding: .5rem;
        border-radius: 3px;
        border: 1px solid v.$Gris;
        resize: none;

      }

      ::placeholder {
        color: v.$Gris;
      }

      .modal_title {
        text-align: center;
        text-align: center;
        font-size: 2.5rem;
        padding: 2rem 0;
      }

      .name_form {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 1rem;

        div {
          display: flex;
          flex-direction: column;
          width: 100%;

          input {
            width: 100%;
            padding: .5rem;
            border-radius: 3px;
          }

        }
      }

      .message_form {
        display: flex;
        flex-direction: column;
      }

      .message_form .submit_form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 1rem;
        margin: 1.5rem 0;
        text-align: center;


        input[type="submit"] {
          background-color: v.$Blanc-casse;
          color: v.$Rouge-Orange;
          border: none;
          padding: 1rem .5rem;
          font-size: 1rem;
          font-weight: 700;
          border-radius: 0.5rem;
          background: v.$Blanc-casse;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          transition: all 300ms ease-in-out;


          &:hover {
            background-color: v.$Rouge-Orange ;
            color: v.$Blanc-casse;
          }
        }

      }


    }

  }
}

.modal_content {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  gap: 4rem;

}

.modal_form {
  min-width: 50%;
}

.wrap_contact {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.social {
  text-align: center;

  h3 {
    color: #FF956F;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1rem 0;
  }

  .reseaux {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;



    a {
      font-size: 1.5rem;
      color: v.$Blanc-casse;
      background-color: v.$Rouge-Orange;
      padding: .5rem .7rem;
      display: inline;
      border-radius: 5px;
    }
  }
}


input[type="submit"] {
  background-color: v.$Blanc-casse;
  color: v.$Rouge-Orange;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.5rem;
  background: v.$Blanc-casse;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
  text-transform: uppercase;
  border: none;

  &:hover {
    background-color: v.$Rouge-Orange ;
    color: v.$Blanc-casse;
  }
}

#modal_inscription {
  display: none;
}

#modal_connexion {
  display: none;
}

#modal_contact {
  display: none;
}


.return_reg {
  display: none;
  background-color: green;
  padding: 1rem 1rem;
  color: v.$Blanc-pure;
  font-size: 1.5rem
}


#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0) linear-gradient(to right, #ff5f6d 0%, #ffb270 100%) repeat scroll 0 0;
  color: v.$Blanc-casse;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  text-align: center;

}

#loading-screen h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: 0.125rem;
  position: fixed;
  top: 50;
  right: 50;
}

l-ripples {
  z-index: -100;
}

#profil {
  .wrap {

    .profil_content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      padding: 2rem 0;


      .profil_form {
        width: 30%;

        h3 {
          color: #ffb270;
          padding: 1rem 0;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          font-family: Montserrat;
          font-size: 1.8rem;
          font-style: normal;
          font-weight: 700;
          text-transform: uppercase;
        }
      }


    }
  }
}

.profil_title {
  h3 {
    color: #ffb270;
    padding: 2rem 0;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
}


