$Blanc-casse: #FFE2C7;
$Blanc-casse50: #ffe2c7a3;
$Blanc-pure: rgba(255, 255, 255);
$Blanc50: rgba(255, 255, 255,0.5);
$Rouge: #FA1C1C;
$Jaune: #ffb270;
$Jaune50: rgba(255, 178, 112, 0.5);
$Orange: #FF956F;
$Rouge-Orange: #FF5F6D;
$Gris: #5A5A5A;
$Gris50: #5a5a5a84;
$Gris-fonce: #858796;


$back_cube : url('/src/asset/img/back_cube.png'), #ffffff 100% / cover no-repeat;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@500&display=swap');